/***********/
/* OVERALL */
/**********/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    color: #333;
    font-family: Lato, Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
}

body {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(Sweden.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

section {
    height: 100vh;
    max-width: 1140px;
    margin: 0 auto;
    color: #555;
}

H1,
H2,
H3 {
    font-weight: 300;
    text-transform: uppercase;
}

h3:after {
    display: block;
    height: 2px;
    background-color: #0F4C64;
    content: " ";
    width: 100px;
    margin: 15px auto;
}
/**********/
/* HEADER */
/*********/

header {
    margin: 10px 10px 0 10px;
    padding:10px;
    height: 150px;
    background:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5));
}


#selfie {
    margin: 0;
    padding: 15px;
}
#selfie_img {
    border-radius: 50%;
    height: 100px;
}

header h1 {
    margin-bottom: 10px;
    margin-top: 10px;
}

#header_text {
    text-align: center;
}

/************/
/*MAIN TEXT*/
/***********/

#mainText {
    width: 80%;
}

#meSentence {
    background:linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8));
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
}

.info {
    background:linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8));
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 2px 2px #efefef;
    padding: 15px 15px;
    text-align: center;
    height: 400px;
}

#color {
    background-color: #0F4C64;
    color: #ccc;
}

table {
    width: 80%;
    margin: auto;
}

td {
    padding: 3px;
}

#checkbox {
    text-align: left;
    padding-left: 30px;
}

ul {
    text-align: left;
    margin-left: 20px;
}

li {
    margin: 5px;
}

#games{
    margin-left: 30px;
}

#count p{
    line-height: 1.3;
    margin: 0 20px;
}

#story {
    background:linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8));
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
}

#story p {
    margin: 10px 25px;
}
#TLDR {
    margin: 25px;
}
/*********/
/*FOOTER*/
/********/

footer {
    float: bottom;
    height: 100px;
    background:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5));
    padding: 10px;
    text-align: center;
}

#previous {
    float: left;
    height: 50px;
}

#next {
    float: right;
    height: 50px;
}